TestTypeApp/Service References/CompositionRef/CompositionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.web.courses.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CompositionService" targetNamespace="http://soap.web.courses.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.web.courses.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="checkDB" type="tns:checkDB" />
      <xs:element name="checkDBResponse" type="tns:checkDBResponse" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="find" type="tns:find" />
      <xs:element name="findResponse" type="tns:findResponse" />
      <xs:element name="read" type="tns:read" />
      <xs:element name="readAll" type="tns:readAll" />
      <xs:element name="readAllResponse" type="tns:readAllResponse" />
      <xs:element name="readResponse" type="tns:readResponse" />
      <xs:element name="save" type="tns:save" />
      <xs:element name="saveResponse" type="tns:saveResponse" />
      <xs:complexType name="read">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:composition" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="composition">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="material" type="tns:material" />
          <xs:element name="percentage" type="xs:int" />
          <xs:element minOccurs="0" name="socks" type="tns:socks" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="material">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="composition" nillable="true" type="tns:composition" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="socks">
        <xs:sequence>
          <xs:element minOccurs="0" name="colour" type="tns:color" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="compositions" nillable="true" type="tns:composition" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="manufacture" type="tns:manufacture" />
          <xs:element name="size" type="xs:double" />
          <xs:element minOccurs="0" name="type" type="tns:type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="color">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="manufacture">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="type">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="find">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:composition" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkDB">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkDBResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="save">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:composition" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="readAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="readAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:composition" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="tns:readResponse" />
  </wsdl:message>
  <wsdl:message name="readAllResponse">
    <wsdl:part name="parameters" element="tns:readAllResponse" />
  </wsdl:message>
  <wsdl:message name="checkDBResponse">
    <wsdl:part name="parameters" element="tns:checkDBResponse" />
  </wsdl:message>
  <wsdl:message name="read">
    <wsdl:part name="parameters" element="tns:read" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="find">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="checkDB">
    <wsdl:part name="parameters" element="tns:checkDB" />
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part name="parameters" element="tns:save" />
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part name="parameters" element="tns:saveResponse" />
  </wsdl:message>
  <wsdl:message name="readAll">
    <wsdl:part name="parameters" element="tns:readAll" />
  </wsdl:message>
  <wsdl:portType name="CompositionService">
    <wsdl:operation name="read">
      <wsdl:input name="read" message="tns:read" />
      <wsdl:output name="readResponse" message="tns:readResponse" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input name="find" message="tns:find" />
      <wsdl:output name="findResponse" message="tns:findResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkDB">
      <wsdl:input name="checkDB" message="tns:checkDB" />
      <wsdl:output name="checkDBResponse" message="tns:checkDBResponse" />
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input name="save" message="tns:save" />
      <wsdl:output name="saveResponse" message="tns:saveResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <wsdl:input name="readAll" message="tns:readAll" />
      <wsdl:output name="readAllResponse" message="tns:readAllResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompositionServiceSoapBinding" type="tns:CompositionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="read">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="read">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="readResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="find">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDB">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkDB">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkDBResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="readAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="readAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompositionService">
    <wsdl:port name="DbCompositionServicePort" binding="tns:CompositionServiceSoapBinding">
      <soap:address location="http://localhost:8080/socks-web/soap/composition" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>